<div [sJss]="{display:'flex',
    backgroundColor:theme.palette.primary.main,
    justifyContent:'space-between',
    padding:theme.spacing(3)}">
  <div [sJss]="{display:'flex',
        justifyContent:'center',
        alignItems:'center',
        padding:{xs:theme.spacing(2)}}"
  >
    <img [sJss]="{maxWidth:theme.spacing(8)}" src="assets/sjss_white.png" alt="">
    <span [sJss]="{display:'flex', color:theme.palette.primary.contrastText, marginLeft:theme.spacing(2)} ">
      Super Jss
    </span>
  </div>
  <div [sJss]="{display:'flex', alignItems:'center', justifyContent:'center', width:theme.spacing(15)}">
    <div [sJss]="{width:theme.spacing(5), height:theme.spacing(5), backgroundColor:theme.palette.common.white,
         borderRadius:'50%'}"
         (click)="colorClicked()">
    </div>
  </div>
</div>

