<sJssDemo-header></sJssDemo-header>

<div [sJss]="{padding:theme.spacing(3)}">
  <div [sJss]="{display:'flex', flexDirection:'column', marginBottom:theme.spacing(2)}">
    <h5 [sJss]="{color:theme.palette.primary.main}">
      HOW TO START?
    </h5>
    <p [sJss]>Install and save in your package.json dependencies, by runnning:</p>

    <sJssDemo-code-snippet><code [innerHTML]>npm i super-jss@latest</code></sJssDemo-code-snippet>


  </div>


  <div [sJss]="{display:'flex', flexDirection:'column', marginBottom:theme.spacing(2)}">
    <h5 [sJss]="{color:theme.palette.primary.main}">
      Add To your project
    </h5>
    <p [sJss]>in your app.module, be sure to import SuperJssModule</p>

    <sJssDemo-code-snippet><code [innerHTML]>imports: [SuperJssModule]</code></sJssDemo-code-snippet>


  </div>

  <div [sJss]="{display:'flex', flexDirection:'column', marginBottom:theme.spacing(2)}">
    <h5 [sJss]="{color:theme.palette.primary.main}">
      Crate SuperJss content
    </h5>
    <p [sJss]>add a SJss variable</p>
    <sJssDemo-code-snippet><code [innerHTML]>{{snippetBasicSjss}}</code></sJssDemo-code-snippet>
    <p [sJss]>and use it in your HTML element by adding the tag [sJss]</p>
    <sJssDemo-code-snippet><code [innerHTML]>{{snippetBasicHtml}}</code></sJssDemo-code-snippet>
    <p [sJss]>or simply use inline html, and avoid naming conventions</p>
    <sJssDemo-code-snippet><code [innerHTML]>{{snippetInlineHtml}}</code></sJssDemo-code-snippet>

  </div>


  <iframe [sJss]="{display:'flex', justifyContent:'center', width:'100%', height:'500px'}"
          src="https://stackblitz.com/edit/angular-ivy-vewzoz?embed=1&file=src/app/app.component.ts">
  </iframe>


  <div [sJss]="{padding:theme.spacing(3), display:'flex', flexDirection:'column'}">
    <h4 [sJss]>Basic usage</h4>
    <span [sJss]="">In any component.html add [sJss] to use the jss powers</span>
    <img [sJss]="{maxWidth:'410px'}" alt="" src="assets/basic-usage.jpg">
  </div>

  <div [sJss]="{padding:theme.spacing(3), display:'flex', flexDirection:'column'}">
    <h4 [sJss]>Usage with breakpoints</h4>
    <span [sJss]="">This superpower allows the usage of breakpoints in the jss style</span>
    <span [sJss]="">to any property add the breakpoint object </span>
    <code>xs:string, md:string, sm:string, lg:string, xl:string</code>
    <img [sJss]="{maxWidth:'410px'}" alt="" src="assets/basic-usage-breakpoints.jpg">
  </div>

  <div [sJss]="{padding:theme.spacing(3), display:'flex', flexDirection:'column'}">
    <h4 [sJss]>Usage with theme</h4>
    <span [sJss]="">This superpower allows the usage of a theme</span>

    <img [sJss]="{maxWidth:'410px'}" alt="" src="assets/theme-usage.jpg">
    <span [sJss]="">To do so, add the SuperJss Service in the ts constructor, and define a theme variable</span>
    <img [sJss]="{maxWidth:'358px'}" alt="" src="assets/theme-usage-def.jpg">
  </div>

  <div [sJss]="{padding:theme.spacing(3), display:'flex', flexDirection:'column'}">
    <h4 [sJss]>Theme Override</h4>
    <span [sJss]="">override any theme definition</span>
    <img [sJss]="{maxWidth:'410px'}" alt="" src="assets/theme-usage-def-override.jpg">
  </div>

  <div [sJss]="{padding:theme.spacing(3), display:'flex', flexDirection:'column'}">
    <h4 [sJss]>Theme Definition</h4>
    <span [sJss]="">This is the original theme, you can update any value</span>
    <img [sJss]="{maxWidth:'587px'}" alt="" src="assets/theme1.jpg">
  </div>
</div>


